MYSQL_ROOT_PASSWORD=
NETWORK=proxy
TLD=draganczuk.tk
RESTART=unless-stopped

NC_MYSQL_DATABASAE=nextcloud
NC_MYSQL_USER=nextcloud
NC_MYSQL_PASSWORD=
NC_MYSQL_HOST=db

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=
